.slider-main {
    background-color: #1f1f1f;
    overflow: hidden;
}
.slider-main .slick-slider div {
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    overflow: hidden;
}
.slider-main .slick-slider div:hover {
    background-color: #1f1f1f41;
}
.slider-main .slick-slider div i {
    font-size: 40px;
    margin-bottom: 15px;
}
.slider-main .slick-dots {
    display: none !important;
}
.slider-main .slick-slider div h5 {
    font-size: 16px;

    text-transform: capitalize;
}
.slider-main .slick-slider div h5,
.slider-main .slick-slider div i {
    color: #999;
}